.dv_lar {
    background-color: #1a98a1;
    width: 500px; 
    height: 500px;
}

.dv_verd {
    background-color: #072e07; 
    width: 50%; 
    height:50%;
}


p{
    color: #FFFFFF; 
    background-color: #ff808a; 
    font-size: 25px; 
    font-family: monospace; 
    font-weight: bold;
}

.dv_az {
    width:50%;
    height:50vh;
    background-color: rgb(255, 0, 242);
}

.div_verm {
    width:75vw;
    height:50%; 

    background-color:rgb(166, 255, 1);
}


